<template>
  <div id="app">
    <StudentDashboard></StudentDashboard>
  </div>
</template>

<script>
import './assets/global.css';
import StudentDashboard from './components/StudentDashboard.vue';

export default {
  name: 'App',
  components: {
    StudentDashboard,
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
