:root {
    --primary-background-color: #939191;
    --secondary-background-color: #72BCCC;
    --onhoover-background-color: #4e7b85;
    --avatar-color: #000000;
    --tertiary-background-color: #3e3e3e;
    --shadow-background-color: rgba(0, 0, 0, 0.4);

    --default-text-color: #000000;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #4D4D4B;

    --status-on-color: #040700;
    --status-off-color: #D8D8D8;
    --status-active-color: #6360fc;
    --status-profile-active-color: #00b912;
    --status-process-color: #F77601;

    --on-hover-color: #0000002b;
    --default-border-color: #000000;
}

#app {
    all: inherit !important;
    background-color: #aaaaaa;
}

html,
body,
#fullheight {
    min-height: 100% !important;
    height: 100%;
    background-color: #dbdbdb;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: left;
}


a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--secondary-background-color);
    padding: 1% 1.5%;
    height: 50px;
    color: var(--primary-text-color);
    justify-content: space-between;
}

#home-link {
    align-self: center;
}

header button {
    border: 0;
    background-color: transparent;
    color: var(--primary-text-color);
    height: 100%;
}

.font-size-medium {
    font-size: medium;
}

.font-size-large {
    font-size: large;
}

.font-size-x-large {
    font-size: x-large;
}

.font-size-xx-large {
    font-size: xx-large;
}

.flex-no-wrap {
    display: flex;
    flex-wrap: nowrap;
}

#avatar {
    color: var(--avatar-color);
    background-color: var(--primary-background-color);
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border: solid 0.3vh var(--status-profile-active-color);
    margin-right: 0.5vw;
}

#avatar-name {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

#avatar-button {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

#avatar-button span {
    white-space: nowrap;
    margin-right: 1vw;
}

#notification-button {
    margin-right: 2vw;
    transform: scale(1.25, 1.25);
}

.notification-badge {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: -8px;
    margin-top: 4px;
    background-color: var(--status-process-color);
}

#notification-button:hover {
    animation: notification-animation;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes notification-animation {
    to{transform: scale(1.5, 1.5);}
}

.shake-on-create {
    animation: shake 0.5s;
    animation-iteration-count: 3;
}


.shadow-on-hover:hover {
    box-shadow: 0 0 0 5px var(--on-hover-color);
    background-color: var(--on-hover-color);
    border-radius: 10px;
    cursor: pointer;
}

#sidebar {
    display: flex;
    flex-direction: column;
    padding: 7vh;
    width: 15%;
    text-align: left;
}

#students-content {
    display: flex;
    flex-direction: column;
    padding-right: 3vw;
    width: 85%;
}

#sidebar a {
    font-size: x-large;
    margin-bottom: 2vh;
}

#sidebar a:hover {
    font-weight: bold;
}

#sidebar a:active {
    font-weight: bold;
}

h1 {
    margin-top: 6vh;
    font-weight: lighter;
}

#students-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 7vh;
}

#students-table th {
    font-weight: lighter;
    font-size: smaller;
}

#students-table td {
    font-weight: bolder;
    height: inherit;
}

#students-table td button {
    margin: 0 0.1vw;
}

#students-table th,
td {
    border: 0.4vh solid var(--default-border-color);
    padding: 3vh;
    margin: 0;
    text-align: center;
}

#students-content button {
    background-color: transparent;
    border: 0.23vh solid var(--default-border-color);
    padding: 1vh 1.5vh;
}

#students-content button:hover {
    background-color: var(--on-hover-color);
    cursor: pointer;
}

.checkbox-container {
    border: 0.23vh solid var(--default-border-color);
    width: fit-content;
    height: fit-content;
    padding: 0;
}

#students-table input[type="checkbox"] {
    width: 20px;
    height: 20px;
    -moz-appearance: initial;
    margin-bottom: 0px;
}

#students-table input[type="checkbox"]:active {
    -moz-appearance: checkbox;
    filter: invert(100%) grayscale(100%) contrast(500%);
}

#students-table input[type="checkbox"]:checked {
    -moz-appearance: checkbox;
    filter: invert(100%) grayscale(100%) contrast(500%);
}

#post-student {
    align-self: flex-end;
}

.active-circle {
    width: 20px;
    height: 20px;
    background-color: var(--status-on-color);
    border-radius: 50%;
}

.inactive-circle {
    width: 20px;
    height: 20px;
    background-color: var(--status-off-color);
    border-radius: 50%;
}

.pagination {
    margin-right: 15%;
}

.pagination a {
    font-size: larger;
    border: 0.23vh solid var(--secondary-background-color);
    padding: 1vh 1.5vh;
    margin: 0vh 0.1vh;
}

.pagination a:hover {
    background-color: var(--onhoover-background-color);
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--shadow-background-color);
}

.modal hr {
    margin-left: -20px;
    margin-right: -20px;
    height: 0.08vh;
    background-color: var(--default-border-color);
}

.modal .modal-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 1vh 1vw 1vh 1vw;
    background-color: var(--primary-background-color);
    margin: 5% auto;
    padding: 20px;
    padding-bottom: 5vh;
    border: 0.23vh solid var(--default-border-color);
    width: 50%;
}

.modal form label {
    display: block;
    margin-bottom: 5px;
}

.modal form input,
.modal form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 0.3vh solid var(--secondary-background-color);
    box-sizing: border-box;
}

.modal form button[type="submit"]:focus,
.modal form button[type="button"]:focus {
    outline: none;
}

.modal form input:focus,
.modal form select:focus {
    outline: none;
}

.modal .info-container {
    padding: 4vh 6vw;
}

.modal button {
    align-self: flex-end;
}

.modal h2 {
    margin-top: 0;
}

.flex-row-no-wrap {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.form-group {
    font-size: large;
    justify-content: space-between;
    align-items: center;
}

.form-group label {
    padding-bottom: 1vh;
}

.form-group input,
select {
    max-width: 80%;
}

.submit-form-group {
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.submit-form-group button {
    margin-left: 2vw;
    border: 0.23vh solid var(--secondary-background-color) !important;
}

.warning-text {
    font-weight: bold;
    font-size: x-large;
}

.hidden {
    display: none;
}

.header-dropdown {
    position: absolute;
    overflow: auto;
    max-height: 50vh;
    right: 0;
    z-index: 1;
    margin-top: 45px;
    background-color: var(--primary-background-color);
    border: 0.23vh solid var(--secondary-background-color);
    padding: 0.5vh 4vw 0.5vh 1vw;
}

.header-dropdown button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: large;
    color: var(--default-text-color) !important;
}

.header-dropdown button:hover {
    background-color: lightgray !important;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.avatar-grayout-container {
    width: 60px;
}

.avatar-grayout {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-background-color);
    background-color: var(--tertiary-background-color);
    border: 0.23vh solid var(--secondary-background-color);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: 70%;
}

.notification-new-message-container {
    display: flex !important;
    width: 100% !important;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vh;
    margin-bottom: 1vh;
    align-items: stretch;
}

.message-cloud {
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: var(--tertiary-background-color);
    border: 2px solid var(--default-text-color);
    border-radius: 10px;
    max-width: 300px;
    position: relative;
}

.message-content {
    padding: 1vh 1vw;
    width: 250px;
}


#error-modal {
    display: block !important;
}

.user-form-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 1vh 1vw 1vh 1vw;
    background-color: var(--primary-background-color);
    margin: 5% 3%;
    padding: 15px;
    padding-bottom: 5vh;
    border: 0.23vh solid var(--default-border-color);
    width: 50%;
}

.user-form-body .info-container {
    padding: 4vh 6vw;
}

.user-form-body button {
    align-self: flex-end;
}

.user-form-body h2 {
    margin-top: 0;
}

.user-form-body button {
    background-color: transparent;
    border: 0.23vh solid var(--default-border-color);
    padding: 1vh 1.5vh;
}

.user-form-body button:hover {
    background-color: var(--on-hover-color);
    cursor: pointer;
}

.user-form-body button[type="submit"]:focus,
.user-form-body button[type="button"]:focus {
    outline: none;
}

.user-form-body input:focus,
.user-form-body select:focus {
    outline: none;
}

.user-form-body hr {
    margin-left: -15px;
    margin-right: -15px;
    height: 0.08vh;
    background-color: var(--default-border-color);
}

.user-form-body input {
    width: 18vw;
    padding: 10px;
    margin-bottom: 10px;
    border: 0.3vh solid var(--secondary-background-color);
    box-sizing: border-box;
}

.user-form-body form label {
    display: block;
    margin-bottom: 5px;
}

#user-form-body-confirm-button {
    margin-top: 2vh;
    font-size: x-large !important;
}

.thin-gray-border {
    border: 0.23vh solid var(--secondary-background-color);
}

.flex-align-center {
    align-items: center;
}

#chat-rooms {
    width: 25%;
    height: 70vh;
    padding: 0vh 1vw 2vh 1vw;
}

.justify-space-between {
    justify-content: space-between;
}

#chat-room-selector {
    height: 60vh;
    overflow: auto;
}

#chat-room-selector button {
    width: 100%;

    border: 0;
    padding: 1.5vh 1vw;
    margin-bottom: 2vh;
    text-align: left;
    background-color: var(--tertiary-background-color);
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.chat-room-button-avatar {
    color: var(--tertiary-background-color);
    aspect-ratio: 1/1;
    font-size: x-large;
    background-color: var(--primary-background-color);
    padding: 5px;
    border-radius: 50%;
    margin-right: 1vw;
}

#chat-room-selector button:hover {
    background-color: var(--onhoover-background-color) !important;
    cursor: pointer;
}

#chat-room-selector button:hover .chat-room-button-avatar {
    color: var(--secondary-background-color) !important;
}

.selected {
    background-color: var(--status-active-color) !important;
}

.selected .chat-room-button-avatar {
    color: var(--status-active-color) !important;
}

.mb-5vh {
    margin-bottom: 5vh !important;
}

#chat-content {
    width: 70vw;
}

#chat-room-content {
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
    width: 60%;
}

.mb-1vh {
    margin-bottom: 1vh !important;
}


#messages-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    overflow: auto;
    padding-right: 5vw;
}

#messages-container > :first-child {
    margin-top: auto !important;
}

.from-current-user {
    align-self: flex-end;
}

.from-current-user .message-cloud {
    background-color: var(--status-active-color) !important;
}


.current-user-background {
    background-color: var(--status-active-color) !important;
}

#selected-chat-room {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#selected-chat-room div {
    box-sizing: border-box;
}

#selected-chat-room .message-content {
    width: fit-content !important;
}

#messages-ui {
    justify-content: center;
}

#send-message-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 2vh 2vw;
}

#send-message-form textarea {
    border-radius: 10px;
    padding: 1vh 1vw;
    min-width: 85%;
    max-width: 85%;
    max-height: 20%;
}

#send-message-form button {
    border: 0;
    background-color: transparent;
    font-size: x-large;
    text-align: center;
    padding-right: 1vw;
    padding-bottom: 1vh;
    color: var(--status-active-color);
}

#send-message-form button:hover {
    cursor: pointer;
}

.loading-or-error{
    font-weight: bold;
    margin-left: 2vw;
}