<template>
    <div id="sidebar">
        <router-link to="/">Dashboard</router-link>
        <router-link to="/">Students</router-link>
        <router-link to="/">Tasks</router-link>
    </div>
</template>
  
<script>
import { RouterLink } from 'vue-router';

export default {
    name: 'StudentSidebar',
    components: {
        RouterLink,
    }
};
</script>