<template>
    <header>
        <a id="home-link" class="font-size-x-large">CMS</a>
        <div class="flex-no-wrap settings-bar">
            <button v-if="authenticated" :class="{'shake-on-create': unreadMessages.length > 0}" id="notification-button" class="shadow-on-hover font-size-xx-large"
                @mouseover="showNotificationDropdown" @mouseout="hideNotificationDropdown" @click="navigateToChat">
                <font-awesome-icon icon="fa-regular fa-bell" />
                <span v-show="unreadMessages.length > 0" class="notification-badge"></span>
            </button>
            <button id="avatar-button" class="shadow-on-hover font-size-medium flex-no-wrap" @mouseover="showAvatarDropdown"
                @mouseout="hideAvatarDropdown">
                <div id="avatar" class="font-size-xx-large">
                    <font-awesome-icon icon="fa-regular fa-user" />
                </div>
                <span id="avatar-name">
                    {{ authenticated ? currentUserLogin : 'Sign in' }}
                </span>
            </button>
        </div>

        <div v-show="(isNotificationDropdownVisible && (unreadMessages.length > 0))" id="notification-dropdown" class="header-dropdown"
            @mouseover="showNotificationDropdown" @mouseout="hideNotificationDropdown">
            <button v-for="um in unreadMessages" :key="um._id"
                class="notification-new-message-container shadow-on-hover font-size-medium">
                <div class="avatar-grayout-container flex-col">
                    <center>
                        <div class="avatar-grayout font-size-xx-large">
                            <font-awesome-icon icon="fa-regular fa-user" />
                        </div>
                        <span>
                            {{ um.fromLogin }}
                        </span>
                    </center>
                </div>
                <div class="message-cloud">
                    <div class="message-content">
                        {{ um.content }}
                    </div>
                </div>
            </button>
        </div>

        <div v-show="isAvatarDropdownVisible" id="avatar-dropdown" class="header-dropdown" @mouseover="showAvatarDropdown"
            @mouseout="hideAvatarDropdown">
            <button v-if="authenticated" id="profile-button">Profile</button>
            <button v-if="authenticated" id="logout-button" @click="logout()">Logout</button>
            <button v-if="!authenticated" id="sign-in-button" @click="navigateToSignIn">Sign in</button>
            <button v-if="!authenticated" id="sign-up-button" @click="navigateToSignUp">Sign up</button>
        </div>
    </header>
</template>
  
<script>
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';
import axios from 'axios';

export default {
    name: 'StudentHeader',
    data() {
        return {
            authenticated: false,
            isAvatarDropdownVisible: false,
            isNotificationDropdownVisible: false,
            currentUserId: null,
            currentUserLogin: "",
            unreadMessages: [],
        }
    },
    async created() {
        this.authenticated = useStore().state.authenticated;
        this.currentUserId = useStore().state.userId;
        this.currentUserLogin = useStore().state.userLogin;
        await this.fetchUnreadMessages();
    },
    setup() {
        const router = useRouter();

        const navigateToSignIn = () => {
            router.push('/sign-in');
        };

        const navigateToSignUp = () => {
            router.push('/sign-up');
        };

        const navigateToChat = () => {
            router.push('/chat');
        };

        const navigateToLogout = () => {
            router.push('/');
        };

        return {
            navigateToSignIn,
            navigateToSignUp,
            navigateToChat,
            navigateToLogout,
        };
    },
    methods: {
        showAvatarDropdown() {
            this.isAvatarDropdownVisible = true;
        },
        hideAvatarDropdown() {
            this.isAvatarDropdownVisible = false;
        },
        showNotificationDropdown() {
            this.isNotificationDropdownVisible = true;
        },
        hideNotificationDropdown() {
            this.isNotificationDropdownVisible = false;
        },
        logout() {
            localStorage.removeItem('token');
            this.$store.commit('setAuthenticated', false);
            this.$store.commit('setUserLogin', "");
            this.navigateToSignIn();
        },
        async fetchUnreadMessages() {
            try {
                if (this.currentUserId != null) {
                    const response = await axios.get('http://localhost:3000/unread', {
                        params: {
                            userRecieverId: this.currentUserId
                        }
                    });
                    this.unreadMessages = response.data;
                }
            } catch (error) {
                console.error(error);
            }
        },
    }
};
</script>