<template>
   <div :key="$route.path">
    <StudentHeader></StudentHeader>
  </div>
    <div class="flex-no-wrap">
      <StudentSidebar />
      <router-view />
    </div>
</template>

<script>
import StudentHeader from './StudentHeader.vue';
import StudentSidebar from './StudentSidebar.vue';

export default {
  name: 'StudentDashboard',
  components: {
    StudentHeader,
    StudentSidebar,
  },
};
</script>

<style scoped>
</style>
