<template>
  <div>
    <h1>Messages</h1>
    <div id="chat-content" class="flex-no-wrap justify-space-between">
      <ChatSidebar @update:selectedRoomIds="onUpdateSelectedRoomIds" />
      <div id="chat-room-content" class="thin-gray-border">
        <SelectedChatRoom :userIds="selectedRoomIds" />
      </div>
    </div>
  </div>
</template>
  
<script>
import ChatSidebar from './Chat/ChatSidebar.vue'
import SelectedChatRoom from './Chat/SelectedChatRoom.vue'

export default {
  name: 'StudentsChat',
  components: {
    ChatSidebar,
    SelectedChatRoom,
  },
  data() {
    return {
      selectedRoomIds: [],
    };
  },
  methods: {
    onUpdateSelectedRoomIds(value) {
      this.selectedRoomIds = value;
    },
  },
}
</script>
  