body{
    width: 100%;
    height: 100%;
}
.baloon{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border-radius: 50%;
}
@keyframes blowingup{
    0%{transform: scale(0)}
    25%{background-color: red;
        transform: scale(1);}
    50%{transform: scale(2);
         background-color: blue;}
    99%{transform: scale(3);
         background-color: green;}
    100%{transform: scale(0);}
}
#baloon1{
    position: absolute;
    bottom: 60%;
    left:10%;
    animation: blowingup;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#baloon2{
    position: absolute;
    bottom: 10%;
    left:25%;
    animation: blowingup;
    animation-delay: 2.5s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#baloon3{
    position: absolute;
    bottom:40%;
    left:50%;

    animation: blowingup;
    animation-delay: 5s;
    animation-duration: 5s;
    animation-fill-mode: both;
}
#baloon4{
    position: absolute;
    bottom: 15%;
    left:80%;

    animation: blowingup;
    animation-delay: 7.5s;
    animation-duration: 5s;
    animation-fill-mode: both;
}