body {
  margin: auto;
  width: 640px; 
  padding: 50px;
  font-family: "Andale Mono", monospace; 
  color: #2E475D;    
  box-sizing: :border-box;

    background-image: url(back.gif);
}

#frm{
    max-height: 430px;
    overflow: auto;
}

ul{
    width: 300px;
    list-style-type: none;
    
    max-height: 400px;
}
li{
    margin: 10px;
}



a:link, a:visited {

  background-color: #2E475D;
  color: black;
  width: 200px;
  border: 2px solid  #4d487f;
  padding: 10px 20px;
  text-align: center;

  text-decoration: none;
  display: inline-block;
}

button{
    color:grey; 
    background-color: #4d487f; 
    border-color:grey; 
    width: 200px; 
    height: 60px;
    font-size: 110%;
    font-family: "Andale Mono", monospace;
    border-radius: 20px;
}

#del{
    color:black;
    background-color: #2E475D; 
}


#inp{
    display: none;
    margin: 10px;

}
h1{
/*    font-family: "Apple Chancery", cursive;*/
    font-size: 200%;
}

input{
    background-color: azure;
}
