<template>
  <form class="user-form-body" @submit.prevent="handleSubmit">
    <h2>Sign Up</h2>

    <hr>

    <div class="info-container">
      <div class="flex-row-no-wrap form-group">
        <label for="login">Login:</label>
        <input type="text" id="login" v-model="login" required>
      </div>

      <div class="flex-row-no-wrap form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" v-model="password" required>
      </div>

      <div class="flex-row-no-wrap form-group">
        <label for="password_confirmation">Confirm Password:</label>
        <input type="password" id="password_confirmation" v-model="passwordConfirmation" required>
      </div>
    </div>

    <hr>

    <center>
      <button id="user-form-body-confirm-button" type="submit">Sign Up</button>
    </center>
  </form>
</template>

<script>
import axios from 'axios';


export default {
  name: 'SingUp',
  data() {
    return {
      login: '',
      password: '',
      passwordConfirmation: '',
    };
  },
  methods: {
    handleSubmit() {
      if (this.password !== this.passwordConfirmation) {
        alert('Passwords do not match!');
        return;
      }

      axios.post('http://localhost:3000/sign-up', {
        login: this.login,
        password: this.password,
      })
        .then(() => {
          this.$router.push('/sign-in');
        })
        .catch(error => {
          alert('Sign up failed!');
          console.log(error);
        });
    },
  },
}
</script>
<style ></style>