<template>
    <form class="user-form-body" @submit.prevent="handleSubmit">
        <h2>Sign In</h2>

        <hr>

        <div class="info-container">
            <div class="flex-row-no-wrap form-group">
                <label for="login">Login:</label>
                <input type="text" id="login" v-model="login" required />
            </div>

            <div class="flex-row-no-wrap form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" v-model="password" required />
            </div>
        </div>

        <hr>

        <center>
            <button id="user-form-body-confirm-button" type="submit">Sign In</button>
        </center>
    </form>
</template>

<script>
import axios from 'axios';
import store from '../../store';

export default {
    name: 'SignIn',
    data() {
        return {
            login: '',
            password: '',
            error: null
        }
    },
    methods: {
        async handleSubmit() {
            try {
                const response = await axios.post('http://localhost:3000/sign-in', {
                    login: this.login,
                    password: this.password
                })
                
                const token = response.data.token;
                const user = response.data.user;
                localStorage.setItem('token', token)
                store.commit('setAuthenticated', true);
                store.commit('setUserId', user._id);
                store.commit('setUserLogin', user.login);
                
                this.$router.push('/')
            } catch (error) {
                alert('Sign in failed!');
                console.log(error);
            }
        }
    }
}
</script>
<style ></style>