body{
    height: 100%;
    width: fit-content;
}
#CMS{
    position: absolute;
    left: 1.5%;
}
#headerFrame{
    position: fixed;
    z-index: 1;
    height: 65px;
    left: 0px;
    right: 0px;
    top: 0px;
    
    background-color: #72BCCC;
    background-attachment: fixed;

}
#UserName{
    float: right;
    margin-right: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22.9038px;
    line-height: 28px;
    color: #000000;
}
#Notification-Bell{
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    background: none;
    border: none;
}

#notificationCount{
    display: none;
    position: relative;
    transform: translate(20px, -50px);
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    z-index: 2;
    text-align: center;
}

#Avatar{
    float: right;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    margin-top: 10px;
    border: none;
    background: #FFFFFF;
    border-radius: 50%;
}
.Links{
    font-family: 'SF Pro';
    font-style: normal;
    font-size: 22.9038px;
    line-height: 27px;

    color: #000000;
}
#d-board{
    position: absolute;
    height: 27.68px;
    left: 2.5%;
    right: 88.68%;
    top: 147.92px;
    font-weight: 400;
}
#studs{
    position: absolute;
    height: 27.68px;
    left: 2.5%;
    right: 89.54%;
    top: 181.32px;
    font-weight: 700;
}
#tsks{
    position: absolute;
    height: 27.68px;
    left: 2.5%;
    right: 92.97%;
    top: 214.72px;
    font-weight: 400;
}
#students{
    position: relative;
    height: 21.81px;
    left: 18.43%;
    right: 68.53%;
    top: 175px;
    width: fit-content;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 38.1731px;
    line-height: 46px;

    color: #000000;
}
#student-table{
    position: relative;
    transform: translate(150px, -350px);
    width: 800px;
}
table, th, td {
    width: fit-content;
    border: 1px solid black;
}
tr{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15.2692px;
    line-height: 19px;
    align-items: center;
    text-align: center;

    color: #000000;
}
#AddStudent{
    transform: translate(915px, 145px);
    margin-bottom: 500px;
    font-family: 'Tilt Neon';
    color: #000000;
    font-size:x-large;
}
@keyframes OnHoverNotification{
    to{transform: scale(1.15, 1.15);}
}
button:hover{
    cursor:pointer;
}
#Notification-Bell:hover{
    animation: OnHoverNotification;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.modal {
    display: none;
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
#NotificationModal{
    position: absolute;
    right: 0%;
    margin-top: 5vh;
    margin-right: 35vh;
}
#BellImg{
    width: 35px;
}
#ProfileModal{
    position: absolute;
    right: 0%;
    margin-top: 5vh;
    margin-right: 15vh;
}
#ProfileModalContent{
    width: 200px;
    height: 100px;
}
.HeaderModal{
    display: none;
    z-index: 2;
    width: 100px;
}
.HeaderModalContent{
    position: absolute;
    border-radius: 5%;
    width: 100px;
    height: 200px;
    background-color: #888;
}
.close {
    color: #aaa;
    float:right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

#AddingModalContent{
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}
#AddEditButt{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: black;
    background-color: #72BCCC;
    border: none;
    border-radius: 4px;
}
#AddEditButt:hover{
    cursor:pointer;
}
#AreYouSureContent{
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}
.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 92%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

#EditButton{
    display: none;
}
#DeleteButton{
    display: none;
}