<template >
    <button :class="{ 'selected': isSelect }"><font-awesome-icon class="chat-room-button-avatar" icon="fa-solid fa-user" />
        {{ text }}</button>
</template>
<script>

export default {
    props: {
        isSelect: {
            type: Boolean,
            required: true,
            default: false
        },
        text: {
            type: String,
            required: true
        }
    }
}

</script>