<template>
    <div class="mb-1vh flex-no-wrap" :class="{ 'from-current-user': message.fromId == currentUserId }">
        <div v-if="message.fromId == currentUserId" class="message-cloud">
            <div class="message-content">
                {{ message.content }}
            </div>
            
        </div>
        <div class="flex-no-wrap flex-align-center">
            <div class="avatar-grayout-container flex-col">
                <center v-if="message.fromId == currentUserId">
                    <div class="avatar-grayout font-size-xx-large current-user-background">
                        <font-awesome-icon icon="fa-regular fa-user" />
                    </div>

                    <span>
                        {{ message.fromLogin }}
                    </span>
                </center>
                <center v-else>
                    <div class="avatar-grayout font-size-xx-large">
                        <font-awesome-icon icon="fa-regular fa-user" />
                    </div>
                    <span>
                        {{ message.fromLogin }}
                    </span>
                </center>
            </div>
        </div>
        <div v-if="message.fromId != currentUserId" class="message-cloud">
            <div class="message-content">
                {{ message.content }}
            </div>
        </div>
    </div>
</template>

<script>
import { useStore } from 'vuex';

export default {
    props: {
        message: null
    },
    data() {
        return {
            currentUserId: null,
        };
    },
    created() {
        this.currentUserId = useStore().state.userId;
    },
}
</script>
<style lang="">
    
</style>