<template>
    <div id="chat-rooms" class="thin-gray-border">
        <div class="flex-no-wrap flex-align-center justify-space-between">
            <h3>StudentChat</h3>
        </div>
        <div id="chat-room-selector">
            <ChatRoomSelectButton v-for="room in rooms" :key="room._id" :id="room._id" :isSelect="isSelected(room._id)"
                :text="room.login" @click="onSelectRoom(room._id)" />
        </div>
    </div>
</template>

<script>
import ChatRoomSelectButton from './ChatRoomSelectButton.vue';
import { useStore } from 'vuex';

export default {
    components: {
        ChatRoomSelectButton,
    },
    data() {
        return {
            currentUserId: null,
            rooms: [],
            selectedRoomIds: [],
        };
    },
    created() {
        this.currentUserId = useStore().state.userId;
        this.getRooms();
    },
    methods: {
        isSelected(roomId) {
            return this.selectedRoomIds.includes(roomId);
        },
        getRooms() {
            fetch("http://localhost:3000/user/all")
                .then(response => response.json())
                .then(data => {
                    this.rooms = data.filter(user => user._id != this.currentUserId);
                })
                .catch(error => console.log(error));
        },
        onSelectRoom(roomId) {
            if (this.isSelected(roomId)) {
                this.selectedRoomIds = this.selectedRoomIds.filter((id) => id != roomId);
            } else {
                //this.selectedRoomIds.splice(0);
                this.selectedRoomIds.push(roomId);
            }
            this.$emit("update:selectedRoomIds", this.selectedRoomIds);
        },
    },
}
</script>