<template>
    <div id="selected-chat-room">
        <h3><span v-if="userIds.length === 0">Select Room to Show </span></h3>
        <div id="messages-ui">
            <div id="messages-container">
                <span v-if="messages.length == 0" class="loading-or-error">{{ this.messagesState }}</span>
                <ChatMessage v-else v-for="m in messages" :key="m._id" :message="m" />
            </div>
            <form id="send-message-form" class="flex-no-wrap" @submit.prevent="sendMessage">
                <textarea v-model="newMessage" placeholder="Type your message here..."></textarea>
                <button type="submit"><font-awesome-icon icon="fa-solid fa-paper-plane" /></button>
            </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import { useStore } from 'vuex';
import ChatMessage from './ChatMessage.vue';
import { createSocket } from "./../../socket";

export default {
    props: {
        userIds: {
            type: Array,
            required: true,
            default: null
        },
    },
    components: {
        ChatMessage
    },
    data() {
        return {
            socket: null,
            currentUserId: null,
            messagesState: null,
            messages: [],
        };
    },
    async created() {
        this.currentUserId = useStore().state.userId;
        await this.fetchMessages();
        this.socket = createSocket('http://localhost:3080', this.currentUserId);
        this.socket.on("message", (message) => {
            this.messages.push(message);
        });
    },
    methods: {
        async fetchMessages() {
            try {
                if (this.userIds == null) {
                    this.messages = [];
                    this.messagesState = "User IDs error";
                }

                this.messages = [];
                this.messagesState = "Loading messages...";

                if (this.userIds.length == 0) {
                    this.messagesState = "";
                }
                else if (this.userIds.length > 0) {
                    const requests = this.userIds.map(userId =>
                        axios.get(`http://localhost:3000/mess`, {
                            params: {
                                userOneId: userId,
                                userTwoId: this.currentUserId
                            }
                        })
                    );
                    const responses = await Promise.all(requests);
                    this.messages = responses.flatMap(response => response.data);

                    if (this.messages == 0){
                        this.messagesState = "";
                    }
                }
            } catch (error) {
                console.error(error);
            }
        },
        sendMessage() {
            if (this.newMessage.trim() !== '' && this.userIds.length > 0) {
                this.userIds.forEach(userId => {
                    const message = {
                        fromId: this.currentUserId,
                        toId: userId,
                        content: this.newMessage.trim(),
                    };

                    this.socket.emit('message', message);
                });
                this.newMessage = '';
            }
        },
        scrollToBottom() {
            const container = document.querySelector("#messages-container");
            container.scrollTop = container.scrollHeight;
        },
    },
    watch: {
        userIds: {
            handler: 'fetchMessages',
            deep: true,
        },
    },
    updated() {
        this.scrollToBottom();
    },
};
</script>